.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  .change, .delete {
    cursor: pointer;
    background-color: #fff;
    padding: 5px;
  }
  .change {
    border: 1px solid green;
  }
  .delete {
    border: 1px solid red;
  }
}
